*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg .parallax .parallax__layer, .bg {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.bg {
  background-color: #111;
  position: absolute;
}
.bg .parallax {
  width: 100%;
  overflow: hidden;
}
.bg .parallax .parallax__layer {
  position: absolute;
  transition: transform 0.3s linear;
}
.bg .parallax .parallax__layer:nth-child(1) {
  background-image: url("../assets/img/bg_sprite1.png");
}
.bg .parallax .parallax__layer:nth-child(2) {
  background-image: url("../assets/img/bg_sprite2.png");
}
.bg .parallax .parallax__layer:nth-child(3) {
  background-image: url("../assets/img/bg_sprite3.png");
}
.bg .parallax .parallax__layer:nth-child(4) {
  background-image: url("../assets/img/bg_sprite4.png");
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/img/bg_sprite1.png");
  background-size: cover;
}

header {
  margin: 5vh auto;
}

header, main {
  z-index: 1;
}

h2, h1 {
  z-index: 3;
  text-transform: uppercase;
  text-shadow: 0px 7px hsl(260deg, 100%, 27%);
  margin: auto;
  font-weight: 300;
  color: #eceaea;
  text-align: center;
  font-weight: 100;
  letter-spacing: 0.9rem;
  font-size: 1.2rem;
}

h1 {
  padding-bottom: 20px;
  font-size: 1.8rem;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 255deg;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 520px;
  min-width: 400px;
  width: 100vw;
  margin: auto;
  padding: 50px 100px;
  gap: 30px;
  font-size: 1rem;
  font-weight: 300;
  color: #eceaea;
  background: hsl(205deg, 46%, 30%);
  background: linear-gradient(var(--a), hsla(205deg, 46%, 30%, 0.01) 0%, hsl(260deg, 29%, 36%) 100%);
  background: -moz-linear-gradient(var(--a), hsla(205deg, 46%, 30%, 0.01) 0%, hsl(260deg, 29%, 36%) 100%);
  background: -webkit-linear-gradient(var(--a), hsla(205deg, 46%, 30%, 0.01) 0%, hsl(260deg, 82%, 6%) 100%);
  --a:225deg;
  animation: gradient 16s infinite;
}
form div {
  position: relative;
}
form div.wrap-custom-file {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 60px;
  cursor: pointer;
}
form div.wrap-custom-file:hover label[for=photo] + span.label-text {
  color: #eceaea;
}

input,
select {
  font-family: "Poppins", sans-serif;
  font-size: inherit;
  background: rgba(255, 255, 255, 0);
  outline: 0;
  border: none;
  font-weight: 300;
  color: #eceaea;
  padding: 10px 0 5px;
}
input:not(#nasa-experience),
select:not(#nasa-experience) {
  width: 100%;
}
input:not(#nasa-experience):focus ~ label:not([for=photo]), input:not(#nasa-experience):valid ~ label:not([for=photo]),
select:not(#nasa-experience):focus ~ label:not([for=photo]),
select:not(#nasa-experience):valid ~ label:not([for=photo]) {
  color: #344fff;
  transform: translateY(-22px);
  font-size: 12px;
  text-transform: uppercase;
}
input#age,
select#age {
  width: 100px;
}
input#age::-webkit-inner-spin-button, input#age::-webkit-outer-spin-button,
select#age::-webkit-inner-spin-button,
select#age::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input#specialization,
select#specialization {
  width: 246px;
}
input:not(#photo),
select:not(#photo) {
  border-bottom: 1px solid #eceaea;
}
input#photo, input#nasa-experience,
select#photo,
select#nasa-experience {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}
input#photo:checked + label, input#nasa-experience:checked + label,
select#photo:checked + label,
select#nasa-experience:checked + label {
  color: #eceaea;
}
input#photo:checked + label:after, input#nasa-experience:checked + label:after,
select#photo:checked + label:after,
select#nasa-experience:checked + label:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 8px;
  width: 6px;
  height: 11px;
  border: solid #eceaea;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
input#photo:checked + label:before, input#nasa-experience:checked + label:before,
select#photo:checked + label:before,
select#nasa-experience:checked + label:before {
  border-color: #eceaea;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus,
select:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #eceaea !important;
}
input:focus,
select:focus {
  border-bottom: 1px solid #344fff !important;
}
input:focus ~ label[for=photo],
select:focus ~ label[for=photo] {
  border-color: #344fff;
}
input:valid,
select:valid {
  border-bottom: 1px solid #eceaea;
}
input:invalid:not(#specialization),
select:invalid:not(#specialization) {
  color: rgba(255, 255, 255, 0);
}
input:invalid:not(#specialization):focus,
select:invalid:not(#specialization):focus {
  color: #eceaea;
}

label:not([for=nasa-experience]) {
  position: absolute;
  left: 0;
  letter-spacing: 0.1rem;
  color: #eceaea;
  padding: 10px 0 5px;
  overflow: hidden;
  transition: all 0.5s;
  color: #eceaea;
}
label[for=nasa-experience] {
  position: relative;
  margin-top: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #eceaea;
  letter-spacing: 0.1rem;
}
label[for=nasa-experience]:before {
  content: "";
  appearance: none;
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 1px solid #eceaea;
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  margin-right: 14px;
  display: flex;
  align-items: center;
}
label[for=nasa-experience]:hover {
  color: #eceaea;
}
label[for=nasa-experience]:hover:before {
  border-color: #eceaea;
  background-color: rgba(255, 255, 255, 0.01);
}
label[for=specialization] {
  visibility: hidden;
  opacity: 0;
}
label[for=photo] {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 100%;
  border: 1px solid #eceaea;
  padding: 0;
  font-size: 12px;
  color: #eceaea;
}
label[for=photo]:hover {
  color: #344fff;
  border-color: #344fff;
  width: 60px;
  height: 60px;
  font-size: 1rem;
}
label[for=photo].file-ok {
  position: relative;
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
}
label[for=photo].file-ok + span.label-text {
  letter-spacing: 0rem;
  font-size: 12px;
}
label[for=photo] + span.label-text {
  color: #eceaea;
  max-width: 200px;
  letter-spacing: 0.1rem;
}

select {
  color: #eceaea;
  letter-spacing: 0.1rem;
  transition: all 0.5s;
}
select:valid {
  color: #eceaea;
}

button {
  width: auto;
  background: rgba(255, 255, 255, 0.01);
  border: 1px solid #eceaea;
  font-family: "Poppins", sans-serif;
  color: #eceaea;
  text-transform: uppercase;
  padding: 16px;
  letter-spacing: 0.14rem;
  font-size: 1rem;
  border-radius: 40px;
  cursor: pointer;
  transform: scale(0.95);
  transition: all 0.5s;
}
button:hover {
  color: #344fff;
  border-color: #344fff;
  transform: scale(1);
  background-color: #eceaea;
}
button:focus {
  outline: 0;
  border-color: #344fff;
  background-color: #eceaea;
}

@keyframes gradient {
  0% {
    --a: -105deg;
  }
  25% {
    --a: -15deg;
  }
  50% {
    --a: 75deg;
  }
  75% {
    --a: 165deg;
  }
  100% {
    --a: 255deg;
  }
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  form {
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
  }
}
.hidden {
  display: none;
}

.active {
  display: block;
}

@media (max-width: 500px) {
  body {
    justify-content: flex-start;
  }
  header {
    margin: 30px;
  }
  h1, h2 {
    font-size: 18px;
    letter-spacing: 0.4rem;
  }
  form {
    min-width: 300px;
    font-size: 14px;
    padding: 30px;
    max-width: 380px;
    width: 80vw;
  }
}

/*# sourceMappingURL=main.css.map */
